*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.task-body1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px dashed black;
    margin: 20px;
}
.task-body2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px dashed black;
    margin: 20px;
}
.task-body2 h5{
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    font-size: 25px;
    font-weight: 800;
}
.task-1-graph{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    border:3px solid red
}
img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
}